/* ================================= */
/* === style file for index.hmtl === */
/* ================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg: #131313;
    --lilac: #7F7FD5;
    --baby-blue: #86A8E7;
    --glass: hsla(0,100%,100%,0.8);
}

/* general components */
.logo {
    /* color */
    background: var(--lilac);
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* text */
    font-size: 20px;
}

/* nav */
nav {
    --links: white;
    --btn: white;
    /* layout */
    align-items: center;
    display: grid;
    justify-self: center;
    grid: 1fr / 120px 1fr 1fr;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px;
    padding: 8px;
    position: fixed;
    z-index: 10;
    /* color */
    background-color: transparent;
    /* other */
    transition: 300ms;
}

.nav-links-container {
    /* layout */
    align-items: center;
    display: grid;
    grid: 1fr / auto auto auto;
    justify-self: left;
}

.nav-link {
    /* layout */
    margin: 0 30px;
    /* color */
    color: var(--links);
    /* text */
    font-size: 18px;
}

.nav-link:after {
    /* layout */
    width: 0px;
    height: 1px;
    display: block;;
    /* color */
    background-color: var(--links);
    /* text */
    content: '';
    /* other */
    transition: 300ms;
}

.nav-link:hover::after { width: 100% }

.nav-btn-container {
    /* layout */
    align-items: center;
    justify-self: right;
    display: grid;
    grid: 1fr / auto auto;
    margin-left: 10px;
}

.nav-btn {
    /* layout */
    justify-self: right;
    margin: 0 0 0 60px;
    /* color */
    color: var(--btn);
    /* text */
    font-size: 20px;
}

.nav-btn:after {
     /* layout */
     width: 0px;
     height: 1.5px;
     display: block;;
     /* color */
     background-color: var(--btn);
     /* text */
     content: '';
     /* other */
     transition: 300ms;
}

.nav-btn:hover:after { width: 100% }

nav a { text-decoration: none }

.nav-scrolled {
    /* color */
    --links: black;
    --btn: var(--lilac);
    background-color: white;
    opacity: 0.95;
    box-shadow: 0 2px 3px hsla(0, 34%, 0%, 0.5);
    /* other */
    transition: 300ms;
}

/* fade animation */
nav {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* header */
header {
    /* color */
    background-color: white;
}

.header-container {
    /* layout */
    display: grid;
    grid: auto / auto;
}

.header-img {
    /* layout */
    /* max-width: 1200px; */
    width: 100%
}

/* fade animation */
header {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.header-intro {
    /* layout */
    align-self: center;
    position: absolute;
    justify-self: center;
    justify-items: center;
    padding: 40px;
    /* color */
    background-color: white;
    color: black;
    opacity: 0.9;
    /* text */
    font-size: 36px;
    text-align: left;
}

header .logo {
    /* layout */
    padding: 0;
    /* color */
    /* text */
    font-size: 48px;
}

.header-btn {
    /* layout */
    justify-content: center;
    width: min-content;
}

header a {
    /* layout */
    padding-left: 2px;
    /* color */
    color: black;
    /* text */
    font-size: 18px;
    text-decoration: none;
}

header a:after {
    /* layout */
    width: 100%;
    height: 1px;
    display: block;
    /* color */
    background-color: black;
    /* text */
    content: '';
    /* other */
    transition: 300ms;
}

header a:hover:after { width: 0 }

/* main */
main {
    /* layout */
    display: grid;
    grid: auto auto / auto auto;
    justify-content: center;
}

/* about */
.main-container {
    /* layout */
    align-items: center;
    padding: 40px 60px;
    display: grid;
    grid: 400px / 1fr 1fr;
    width: 100%;
    /* color */
    /* text */
    font-size: 18px;
}

.main-text-container {
    /* layout */
    display: grid;
    grid: auto auto auto auto / 1fr;
    padding: 0 0 0 40px;
    justify-self: left;
}

#about {
    /* color */
    color: var(--baby-blue);
    /* text */
    font-size: 32px;
}

main p { padding: 16px 0 }

main a { 
    /* color */
    color: var(--baby-blue);
    /* text */
    font-size: 18px;
    text-decoration: none;
}

.about-link {
    /* layout */
    width: 93px;
}

.about-link:after {
    /* layout */
    width: 100%;
    height: 1px;
    display: block;
    /* color */
    background-color: var(--baby-blue);
    /* text */
    content: '';
    /* other */
    transition: 300ms;
}

.about-link:hover:after { width: 0 }

.about-img {
    /* layout */
    padding: 0;
    width: 100%;
    justify-self: right;
}

/* why */
.why-container {
    /* layout */
    grid-column: 1 / 3;
    width: 50%;
    padding-bottom: 100px;
    justify-self: center;
    /* text */
    text-align: center;
    font-size: 24px;
}

.why-title {
    /* color */
    color: var(--baby-blue);
    /* text */
    font-size: 32px;
}

.email-container {
    /* layout */
    align-items: center;
    display: grid;
    grid: 1fr / min-content min-content min-content;
    justify-content: center;
}

.why-email { color: var(--baby-blue) }

.why-input {
    /* layout */
    height: 24px;
    margin: 0 20px;
    /* text */
    font-size: 20px;
}

.why-container a {
    font-size: 24px;
}

.why-btn:after {
    /* layout */
    width: 100%;
    height: 2px;
    display: block;
    /* color */
    background-color: var(--baby-blue);
    /* text */
    content: '';
    /* other */
    transition: 300ms;
}

.why-btn:hover:after { width: 0 }

/* footer */
footer {
    /* layout */
    display: grid;
    grid: auto auto / auto;
    padding: 40px 60px;
}

.footer-container {
    /* layout */
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 40px;
    justify-content: center;
}

footer .logo { font-size: 24px }

.footer-items-container {
    /* layout */
    align-content: top;
    justify-content: center;
}

.footer-title {
    /* layout */
    padding-bottom: 10px;
    /* color */
    color: var(--lilac);
    /* text */
    font-size: 20px;
}

footer ul { list-style-type: none }

footer a {
    /* color */
    color: black;
    /* text */
    text-decoration: none;
    /* other */
    transition: 300ms;
}

footer a:hover {
    /* color */
    color: var(--lilac);
    /* other */
    transition: 300ms;
}

.copyright {
    /* layout */
    display: block;
    justify-self: center;
}
