/* ================================= */
/* === style file for index.hmtl === */
/* ================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg: #131313;
    --lilac: #7F7FD5;
    --baby-blue: #caced4;
    --glass: hsla(0,100%,100%,0.8);
}

/* abcdefghijklmnopqrstuvwxyz */

/* nav */
nav {
    align-items: center;
    background-color: var(--glass);
    display: grid;
    /* filter: blur(10px); */
    grid: 1fr / 1fr 1fr 1fr;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-logo {
    background: var(--lilac);
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 30px;
    justify-self: left;
}

.nav-links-container {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    justify-self: center;
}

.nav-link {
    color: black;
    font-size: 20px;
}

.nav-order-btn {
    color: var(--lilac);
    font-size: 20px;
    justify-self: right;
}

nav a {
    text-decoration: none;
}

/* main */
header {
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);;
    padding: 800px 20%;
}