* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg: #131313;
    --lilac: #7F7FD5;
    --baby-blue: #86A8E7;
}

/* nav */
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    background: var(--lilac);
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--baby-blue);
    color: white;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 0 0 var(--lilac);
}

.button:hover {
    box-shadow: inset 0 0 0 50px var(--lilac);
}

.navbar-links:hover {
    color: var(--baby-blue);
    transition: all 0.3s ease;
}

/* intro */
.intro {
    background: white;
    padding: 200px 0;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.intro-heading {
    color: black;
    font-size: 120px;
    margin-bottom: 30px;
}

.intro-heading span {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.intro .button {
    font-size: 36px;
    width: 280px;
}

.highlight {
    border-bottom: 4px solid var(--baby-blue);
}

/* about */
.main {
    background-color: var(--bg);
    padding: 12rem 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main-content {
    color: var(--bg);
    width: 100%;
}

.main-content h1 {
    color: var(--lilac);
    font-size: 2rem;
    margin-bottom: 32px;
}

.main-content h2 {
    font-size: 4rem;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main .button {
    font-size: 36px;
    margin-top: 30px;
    width: 280px;
}

.main-img-card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* products */
.products {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.products h1 {
    color: var(--lilac);
    margin-bottom: 24px;
    font-size: 48px;
}

.products p {
    font-size: 36px;
    margin-bottom: 24px;
    text-align: ;
}

.products-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.products-card {
    background-size: cover;
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease;
}

.products-card-a {
    background-image: url("images/siberia.jpg");
}

.products-card-b {
    background-image: url("images/iceland.jpg");
}

.products-card-c {
    background-image: url("images/africa.jpg");
}

.products-card-d {
    background-image: url("images/acadia.jpg");
}

.products-card h2 {
    text-align: center;
}

.products-card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.products-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.products .button {
    font-size: 20px;
    width: 120px;
    height: 50px;
}

/* order */
.order {
    background-color: white;
    padding: 12rem 0;
}

.order-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.order-content {
    color: var(--bg);
    width: 100%;
}

.order-content h1 {
    color: var(--lilac);
    font-size: 2rem;
    margin-bottom: 32px;
}

.order-content h2 {
    font-size: 4rem;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.order .button {
    font-size: 36px;
    margin-top: 30px;
    width: 280px;
}

.order-img-card {
    margin: 10px;
    height: 500px;
    width: auto;
    border-radius: 4px;
}

